{% load render_bundle from webpack_loader %} {% load staticfiles %}

<html>

<head>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <meta name="csrf_token" content="{{ csrf_token }}">
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/_navbar.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/_company.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/_navbar.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/_welcome_page.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/_session_form.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/_portfolio.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/_tables.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/_trade_form.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/_graph.css' %}" />

  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.10.0/d3-legend.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/vida-public/rickshaw.min.js"></script>

  <title>Fantasy Investing</title>


</head>

<body>
  <div id="root"></div>
  {% render_bundle 'main' %}
</body>

</html>
