.company-content {
  color: #ce9e62;
  display: flex;
  width: 900px;
  height: 500px;
  flex-direction: column;
  margin: 100px;
  background: #4F6E7C;
}

.company-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  /*border: 1px solid red;*/
  padding: 20px 10px;
  font-weight: bold;
  background: #4F6E7C
}

.company-summary {
  display: flex;
  flex-direction: row;
  /*border: 1px solid yellow;*/
  height: 100%;
  color: #F6F2F3;

}

.company-detail {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  flex-direction: column;
  width: 200px;
  background: #4F6E7C;
}

.company-nums {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

#canvas-svg {
  background: #F6F2F3;
  /*border: 1px solid green;*/
}

.line {
  fill: none;
  stroke: #C74837;
  stroke-width: 1.5px;
}

 .value{
   color: #ce9e62
 }
.company-name-price {
  display: flex;
  flex-direction: column;
}

