.company-content {
  color: #676a6c;
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
  height: calc(100vh - 46px);  
  overflow-y: hidden;
  margin-top: 46px;
}

.company-info {
  width: 100%;
  height: 13%;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-weight: bold;
}

.company-header {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.company-summary {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #F6F2F3;
  height: calc(100% - 13% - 2%);
}

.company-detail-tables{
  width: 30%;
  color: #676a6c;
  margin-left: 2%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  height: 100%;
}
.company-detail {
  border-top: 2px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  background: white;
  width: 100%;
}

.company-detail p {
  padding: 2% 0;
}
.company-nums-title{
  width: 98%;
  font-size: 13px;
  padding-left: 2%;
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
  border-bottom: 1px solid #e7eaec;
}
.company-nums {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 12px;
  padding-left: 5%;
  padding-right: 5%;
}

.line {
  fill: none;
  stroke: #ce9e62;
  stroke-width: 1.5px;
}

 .value{
   color: #ce9e62
 }

.company-name-price {
  display: flex;
  flex-direction: column;
}

.company-news {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 2%;
  margin-left: 1%;
  height: 96%;
  background: white;

}
.company-news .news-title a{
  width: 98%;
  margin-left: 2%;
  display: inline-block;
  color: #676a6c;

}

.news-header {
  border-top: 2px solid #e7eaec;

  color: #676a6c;
  background: white;
  width: 98%;
  font-size: 13px;
  padding: 2% 0;
  padding-left: 2%;
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
}

.company-news-summary {
  font-size: 12px;
  color: #ce9e62;
  text-align: left;
  width: 100%;
  align-self: center;
  max-height: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.company-news-summary .news-content {
  width: 100%;
  margin: 0;
}

.news-summary {
  width: 100%;
  line-height: 1.5;
  font-size: 13px;
   max-height: 80px;

}

.news-summary:hover {
  opacity: 0.8;
  cursor: pointer;
}

.news-date {
  width: 96%;
  text-align: right;
  opacity: 0.8;
}

.watchlist-button{
  display: flex;
  flex-direction: row;
}

.watchlist-dropdown {
  bottom: 15px;
  display: inline-block;
  width: 50px;
  padding-right: 75px;

}

.watchlist-dropdown span{
    border:1px solid #943323;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    text-decoration:none;
    display:inline-block;
    color: #F5F1F2;
    background-color: #C1432E;
}

.watchlist-dropdown span:hover{
     border:1px solid #6f261a;
     background-color: #983524;
}

.watchlist-dropdown:hover .dropdown-content {
    display: block;
}

.company-graph{
  width: 34%;
}


