.company-content {
  color: #ce9e62;
  display: flex;
  width: 92vw;
  height: 700px;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 4vw;;
  background: #4F6E7C;
  border: 1px solid white;
}

.company-header {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.company-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  padding: 20px 10px;
  font-weight: bold;
  background: #4F6E7C
}

.company-summary {
  display: flex;
  flex-direction: row;
  height: 100%;
  color: #F6F2F3;

}

.company-detail {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  flex-direction: column;
  width: 200px;
  background: #4F6E7C;
  line-height: 2;
  /*margin-right: 6%;*/
  width: 50%;
}

.company-nums {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  font-size: 12px;
  max-width: 300px;
  min-width: 200px;
}

#canvas-svg {
  background: #4F6E7C;
}

.line {
  fill: none;
  stroke: #ce9e62;
  stroke-width: 1.5px;
}

 .value{
   color: #ce9e62
 }

.company-name-price {
  display: flex;
  flex-direction: column;
}

.company-news {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: calc(100vw - 1000px);
  background: #4F6E7C;
  margin-top: -75.3px;
}

.news-header {
  color: #ce9e62;
  font-size: 24px;
  font-weight: bold;
}

.company-news-summary {
  font-size: 12px;
  color: #ce9e62;
  text-align: left;
  width: 23vw;
  align-self: center;
}

.news-content {
  padding-bottom: 10px;
  padding: 0 15px 10px 15px;
}

.news-summary {
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  max-height: 80px;
}

.news-summary:hover {
  opacity: 0.8;
  cursor: pointer;
}

.news-date {
  text-align: right;
  opacity: 0.8;
}

.watchlist-button{
  display: flex;
  flex-direction: row;
}

.watchlist-dropdown {
  position: relative;
  bottom: 15px;
  display: inline-block;
  width: 50px;
  padding-right: 75px;
}

.watchlist-dropdown span{
    border:1px solid #943323;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size:16px;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    text-decoration:none;
    display:inline-block;
    color: #F5F1F2;
    background-color: #C1432E;
}

.watchlist-dropdown span:hover{
     border:1px solid #6f261a;
     background-color: #983524;
}

.watchlist-dropdown:hover .dropdown-content {
    display: block;
}
