#main-nav {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed; 
  z-index:9999;
  top: 0;
  width: 100%;
  height: 46px;
  background-color: transparent;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  margin-top:10px;
}

.logo {
  justify-content: flex-start;
  margin-left: 20px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:     drop-shadow(5px 5px 5px #222); 

}

.auth {
  display: flex;
  justify-content: flex-end;
}

.signup-button,
.login-button,
.logout-button,
.demo-button {
  color: #F6F2F3;
  font-size: 3vh;
  margin-right: 24px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.left-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}


#main-nav-logged-in {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed; 
  z-index:9999;
  top: 0;
  width: 100%;
  height: 46px;
  color: #F6F2F3;
  background-color: #4F6E7C;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

#main-nav-logged-in .right-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}
#main-nav-logged-in button {
  margin: 5px;
  height: 100%;
}

#main-nav-logged-in .middle-nav {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  
}
#main-nav-logged-in .right-nav button{
  font-size: 3vh;
  margin: 15px;

    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);

}

#main-nav-logged-in .right-nav .logout {
  width: 60px;
}
.header-search{
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  height: 100%;
}

.header-search label{
  display: flex;
  width: 100%;  
  align-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.header-search form{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.header-search input {
  align-self: center;
  background: no-repeat 10px 6px #444;
  border: 0 none;
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #777;
  width: 300px;
  height: 15px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.header-search input:focus {
  width: 320px;
    }

    

.search-input{
  
}

.search-input:focus {
}

.header-search-button {


}

