.main-portfolio-index {
    margin-top: 60px;
    color: #C74837;
    top: 200px;
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.portfolio-title {
  font-size: 6vh;
  color: #F5F1F2;
}

.portfolio-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio-buttons{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-top: 20px;
}

.delete-button {
  position: relative;
  bottom: 15px;
  max-height: 38px;
  margin-left: 12px;
}

.piechart-container {
  display: flex;
  justify-content: space-around;
}

#piechart, #positions-piechart {
  width: 600px;
  height: 500px;
}

.dropdown {
  position: relative;
  bottom: 15px;
  display: inline-block;
  width: 50px;
  padding-right: 75px;
}

.dropdown-modal {
    border-top: 1px solid #C1432E;
    padding: 7px 0;
}
.index-dropdown-title{
    font-size: 16px;
    padding: 5px 0;
}
.dropdown span{
    border:1px solid #943323;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size:16px;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    text-decoration:none;
    display:inline-block;
    color: #F5F1F2;
    background-color: #C1432E;
}

.dropdown span:hover{
     border:1px solid #6f261a;
     background-color: #983524;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F5F1F2;
    border: 1px solid #C74837;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 16px;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-indent: 10px;
    font-size: 16px;
}

.dropdown-content button:hover{
    background: #C1432E;
    color: #F5F1F2;
}

.portfolio-performance {
  display: flex;
}


.portfolio-green {
  color: green;
}

.portfolio-red {
  color: rgb(222, 15, 0);
}

#portfolio-change {
  margin-left: 50px;
}
