table {
  border-collapse: separate;
  background:#F5F1F2;
  border-radius: 5px;
  margin: 50px auto;
  /*box-shadow: 0px 0px 5px;*/
  rgba: 0,0,0,0.3;
}

thead {
  border-radius: 5px;
}

thead th {
  font-family: 'Patua One', cursive;
  font-size: 16px;
  color:white;
  rgba: 0,0,0,0.5;
  text-align:left;
  padding: 20px;
  background: #4b6777;
}

tbody tr td {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  color: inherit;
  font-size: 13px;
  padding: 10px 20px;
}

tbody tr:nth-child(2n) {
  background: #4b6777;
  color: white;
}

tbody tr:last-child td {
  border-bottom:none;
  background-color: inherit;
  color: inherit;
}

/*tbody:hover > tr td {
  opacity: 0.5;
}*/

/*tbody:hover > tr:hover td {
  text-shadow: none;
  opacity: 1.0;
  color: inherit;
}*/

#total-row {
  font-weight: bold;
  background-color: #ce9e62;
  color: black;
}
