html {
    background: #2c2c2c;
}

.welcome-page {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    height: 100%;
    width: 100%;
    margin-top: -46px;
    background: #4F6E7C;
}

.background-pic {
    z-index: auto;
    display: flex;
    width: 100%;
    height: 80vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    position: relative;
}

.welcome-page h1 {
    position: absolute;
    font-size: 7vh;
    top: 0;
    color: white;
    margin-top: 7%;
    margin-left: 5%;
    line-height: 46px;
    text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

.welcome-page h2 {
    position:absolute;
    right:1%;
    margin-top: -10%;
    font-size: 5vh;
    color: white;
    text-align: right;
    margin-right: 5%;   
}

.content {
    margin: 0 15%;
    color: #2C2C2C;
}

.content h3 {
    font-size: 6vh;
    text-align: center;
}

.content p {
    margin-top: 100px;
    color: #F6F2F3;
    line-height: 30px;
}
